html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,p,blockquote,pre,form,fieldset,table,th,td,input,textarea,hr,img,label,span,select,strong,b{margin:0; padding:0;}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
fieldset,img,abbr,acronym{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
caption,th,td{font-weight:normal; text-align:left;}
a,img,button{border:none; text-decoration:none;}
a,button{text-decoration:none;}
a,img{border: none; outline:none;}
a{ color: #2a2a2a; outline:none; text-decoration:none;}a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent;}
a:active { outline: 0; }
:focus{outline:none;}
ul,ol{list-style:none;}
html{ font-size: 62.5%;}
body{ min-width:320px; max-width:640px; width: 100%; height: 100%; margin: auto; font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;  /*font-family: SimHei;*//*font-family:"Helvetica Neue",Helvetica,Tahoma,sans-serif; */font-size:1.3rem; font-weight:normal;}
.clearfix:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden;}
.clearfix{ display: inline-table;}
* html .clearfix{ height: 1%;}
.clearfix{ display: block;}

.index_bg,.index_header,.index_content,.index_footer{overflow: hidden;}
.index_header{ height: 35vh;}
.index_content{height: 50vh;}
.index_footer{ height: 15vh;}
.index_header img{width: 100%; height: 100%;}
.index_content{width: 80%; margin-left: 10%;}
.index_content_nav{width: 100%; margin: 7% 0;}
.index_content_nav li{padding: 5% 0 2%; border-bottom:1px solid #e2e2e2;}
.index_content_nav li a{ display:block; width: 100%; text-align: center;  /*height: 4.5rem; line-height:6.5rem;*/ padding: 5% 0;  font-size: 1.8rem; font-weight: bold; box-sizing: border-box;}
.index_content_nav a .row{ width: 10rem; height: 100%; margin: 0 auto;}
.index_content_nav a .index_icon{ display:block; float: left; background: url(../images/icon_nav.png) no-repeat;/* margin-top: 1.4rem;*/  margin-top: -5%;}
.index_content_nav a span{ display:block; float: left; margin: -5px 0 0 5px;}
.index_content_nav a:hover{ color: #21a7ec;}
.index_content_nav a .index_icon_1,.index_content_nav a:hover .index_icon_1{ width: 34px; height: 25px;background-size: 96px 161px; background-position: 0 0; }
.index_content_nav a:hover .index_icon_1{ background-position: -60px 0;}
.index_content_nav a .index_icon_2,.index_content_nav a:hover .index_icon_2{ width: 34px; height: 29px; background-position: 0 -50px; background-size: 79px 134px;}
.index_content_nav a:hover .index_icon_2{background-position: -50px -50px;}
.index_content_nav a .index_icon_3,.index_content_nav a:hover .index_icon_3{ width: 34px; height: 31px; background-size: 79px 134px; background-position: 0 -103px;}
.index_content_nav a:hover .index_icon_3{background-position: -50px -103px;}
.index_footer p{ text-align: center; line-height: 1.8; font-size: 1.2rem; color: #898989;}

/*关于鑫合汇*/
.bg_f6{ background-color: #f6f6f6;}
.public_head{height: 4rem; line-height: 4rem;  background-color: #10a0eb; text-align: center; font-size: 2rem; font-weight: bold; color: #fff; position: relative;}
.public_head .public_head_back{position: absolute; left: 1rem; top: 50%; margin-top: -12px; width: 65px; height: 24px; background: url(../images/icon_title.png); background-size:120px 158px; background-position:-51px -132px;}
.public_con{ width: 100%;}
.public_item{ background-color: #fff; margin-top: 1rem; color: #535454;}
.public_item_hd{ height: 45px; line-height: 45px; }
.public_item_hd a{font-size: 1.6rem; position: relative;display: block; padding-left: 4rem;}
.public_item_hd a:before{ content: ""; position: absolute; left: 1rem; top: 10px; background:url(../images/icon_title.png) no-repeat;background-size:120px 169px; }
.public_item_hd a.xhh_bg:before{width:25px; height: 25px; top: 6px; }
.public_item_hd a.xhh_history:before{width: 25px; height: 22px;  background-position:  0 -51px;}
.public_item_hd a.xhh_honor:before{width:24px; height: 27px; background-position:  0 -95px;}
.public_item_hd a.xhh_market:before{width:24px; height: 24px; background-position:  0 -146px;}
.public_item_hd a.xhh_safe:before{width:24px; height: 29px; background-position:  -96px 0;}
.public_item_hd a.xhh_reliable:before{width:25px; height: 23px; background-position: -95px -51px;}
.public_item_hd a.xhh_scene:before{width:26px; height: 26px; background-position:  -46px 0;}
.public_item_hd a.xhh_flow:before{width:29px; height: 28px; background-position:  -46px -50px;}
.public_item_hd a.xhh_whole:before{width:26px; height: 26px; background-position: -46px -96px;}
.public_item_hd a .arrow{ position: absolute; right: 10px; top: 50%; margin-top: -5px;  width: 16px; height: 10px; background: url(../images/icon_title.png) no-repeat; background-size:128px 169px; background-position:-103px -126px;}
.public_item_hd a .current{background-position:-103px -98px;}
.public_item_bd{padding:0 1rem 2rem;}
.public_subtitle{ border-bottom: 1px solid #e1e1e1; color: #10a0eb;font-size: 1.5rem; padding-bottom: 0.7rem;}
.public_subcon{padding-top: 0.5rem; line-height: 2;}
.public_pic{width: 80%; margin-left: 10%;}
.public_pic_90{width: 90%; margin-left: 5%;}
.public_pic img,.pro_pic1 img,.pic_70 img{ width: 100%; vertical-align: top;}
.mt_normal{margin-top: 1.5rem;}
.mt_small{margin-top: 0.8rem;}
.static_tab{ width: 100%;}
.static_tab th,td{text-align: center; height: 2rem;}
.static_tab td{color: #10a0eb;}
.timeline{margin-left: 0.6rem;}
.timeline li{border-left: 1px solid #e1e1e1; padding:0 0 1.5rem 1rem; position: relative;}
.timeline li .circle{ position: absolute; left: -7px; top: 0; width: 12px; height: 12px; background-color: #fff; border:2px solid #e1e1e1; border-radius: 100%;}
.timeline_blue li .circle{border:2px solid #10a0eb;}
.timeline .time{color:#dbdbdb; position: absolute; top: -2px;}
.timeline_blue .time{color: #10a0eb;}
.timeline li .timeline_con{line-height: 2; padding-top: 2rem;}
.timeline_blue li .timeline_con_small{ padding-top: 1rem;}
.timeline_blue .capital{background-color: #f6f6f6; padding: 1rem; border-bottom-right-radius: 2px;border-top-right-radius: 2px;margin-left: -1rem;}
.timeline_blue .capital .capital_hd{ color: #2a2a2a;}
.capital_table{width: 100%; font-size: 1.2rem;}
.capital_table tbody{ color: #bcbcbc;}
.paragraph{line-height: 2;}
.color_10a0eb{color:#10a0eb;}
.pro_pic1{width: 100%;}
.pro_pic90{ width: 90%; margin-left: 5%;}
.pic_70{width: 70%; margin-left: 15%; }
.pro_pic_tit{text-align: center; font-weight: bold; font-size: 1.4rem;}
.public_item_bd_bg{background: url(../images/pro_img2.png) no-repeat left bottom; background-size: 100%; padding-bottom: 25%;}
.pro_con{ width:100%; border: 1px solid #e1e1e1; padding: 25% 1rem 2rem; border-radius: 0.5rem; position: relative; margin-top: 25%;}
.pro_con:before{ content: "" ;position: absolute; top: 0; margin-top: -20%; left: 50%; margin-left: -20%; width: 40%; height:0; padding-bottom: 50%; }
.pro_gu:before{ background:url(../images/pro_gu.png) no-repeat; background-size: 100%;}
.pro_yin:before{ background:url(../images/pro_yin.png) no-repeat; background-size: 100%;}
.pro_bao:before{ background:url(../images/pro_bao.png) no-repeat; background-size: 100%;}
.text-center{text-align: center;}
.pro_con p,.safeguard-list p,.filing p{ line-height: 2;}
.h3_hd{ color: #000; font-weight: bold;}
.h3_hd_10a0eb{color: #10a0eb;}
.h4_hd{ color: #10a0eb; font-weight: bold; padding-left: 1.6rem; position: relative;}
.h4_hd:before{content: ""; position: absolute; left: 0; top: 2px; width: 8px; height: 8px; border-radius: 100%; background-color: #fff; border: 2px solid #10a0eb;}
.safeguard-header-bar{background-color: #fff; overflow: hidden;height:3.46rem;line-height: 3.46rem;border-bottom: 1px solid #e1e1e1;}
.safeguard-header-bar li{display: block;width:25%;text-align: center;float: left;margin-left:-1px;height:2.3rem;line-height: 2.3rem;margin-top:0.58rem;position: relative;}
.safeguard-header-bar a{color:#000; display:block; padding-bottom: 0.3rem; width:85%; margin:0 auto; font-weight: bold;}
.safeguard-header-bar li:last-child{border-right:none;}
.safeguard-header-bar li.default a{color:#139dea;border-bottom: 3px solid #139dea;}
.safeguard-header-bar li span{position: absolute;display: block;width:25%;top:-0.4rem;right:0.2rem;max-width: 32px;}

.safeguard-list.swiper-container{width:100%;}
.invest{width: 100%; border-top: 1px solid #e1e1e1;margin-top: 1.5rem;}
.invest_table{width: 100%; margin-top: 1.5rem;}
.invest_table th{text-align: center; color: #585858; font-size: 1.4rem;}
.invest_table td{font-size: 1.2rem; line-height: 2.5;}
.c_ff1e00{ color: #ff1e00;}
.c_bcbcbc{color: #bcbcbc;}

